body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  color: white;
  font-size: 20px;
}

.perf-profiler {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  top: 100px;
  padding: 10px;
  background: #ec407a;
  text-align: center;
  z-index: 1;
}

.perf-profiler > h1 {
  font-size: 1.5em;
  color: #fff;
}

.perf-profiler > button {
  margin: 6px 0;
  color: #fff;
  background-color: #2196f3;
  font-weight: 500;
  height: 30.6px;
  line-height: 30.6px;
  padding: 0 16px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.perf-profiler > button:hover {
  background-color: #39a1f4;
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
  outline: 0;
}

.perf-profiler > button:focus {
  background-color: #39a1f4;
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
  outline: 0;
}
