.stocks-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#date-widget-container {
  width: 40%;
  margin-left: 3%;
}

#stocks-data-container {
  width: 40%;
}
