#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 15px;
}

.main-subcontainer {
  width: 48%;
  min-width: 550px;
  height: 85vh;
  min-height: 500px;
}

#root {
  height: auto;
  min-height: 100vh;
  background-color: #e0f7fa;
}
