#stocks-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#stocks-container .top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
  padding-bottom: 100px;
}

#stocks-container .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.table-container {
  overflow-y: scroll;
  height: 100%;
}

#stocks-container .top .header {
  padding: 10px;
  background-color: #00bbd3;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  width: 100%;
  font-size: 24px;
  text-align: center;
}

#stocks-container .top .textfield {
  margin-right: 20px;
}

.table-header {
}

.stocks-table-label {
  display: flex;
  justify-content: center;
}

.svg-arrow {
  margin-top: -5px;
  width: 30px !important;
  height: 30px !important;
  flex-shrink: 0;
  cursor: pointer;
}

.svg-wing {
  margin-top: -15px;
  width: 20px !important;
  height: 20px !important;
  flex-shrink: 0;
}

.daily-stock-prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
